.log{
    width: 90px;
    height: 35px;
    background-color: #CC3333;
    border-radius: 9px;
    color: #fff;
    border-color: #fff;
    cursor: pointer;
}

.Mainbutton{
    width: 200px;
    height: 60px;
    background-color: #CC3333;
    border-radius: 9px;
    font-size: 35px;
    color: #fff;
    border-color: #fff;
    cursor: pointer;
}