.dataProduct{
    padding-bottom: 30px;
    &__container{
        margin: 0 120px;
        @media (max-width: 480px) {
            margin: 0 30px;
        }
    }
    &__data{
        display: grid;
        grid-template-columns: repeat(auto-fill, 248px);
        gap: 20px;
        padding-top: 50px;
        @media (max-width: 480px) {
            grid-template-columns: 1fr;
        }
    }
    &__item{
        img{
            width: 100%;
            height: 250px;
            border-radius: 7px;
        }
    }
    &__FN{
        width: 100%;
        height: 235px;
        background-color: #fff;
        border-radius: 7px;
        padding-top: 15px;
        @media (max-width: 480px) {
            height: 200px;
        }
        div{
            margin-top: 10px;
            margin-left: 20px;
        }
    }
    &__location{
        display: grid;
        grid-template-rows: 0.2fr 0.2fr 0.2fr 0.2fr;
        justify-items: center;
        align-items: center;
        width: 100%;
        height: 230px;
        background-color: #fff;
        padding-top: 20px;
        border-radius: 7px;
        
        button{
            display: flex;
            align-items: center;
            margin-bottom: 8px;
            width: 130px;
            height: 36px;
            flex-shrink: 0;
            border-radius: 13px;
            background: linear-gradient(170deg, rgba(126, 144, 157, 0.99) 33.85%, rgba(44, 50, 55, 0.99) 129.79%);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            
        }
        &-wurumchi{
            @media (max-width: 480px) {
                margin-top: 35px;
            }
        }
        &-Kyrgyzstan{
            @media (max-width: 480px) {
                margin-top: 30px;
            }
        }
        @media (max-width: 768px) {
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 2;
            grid-row-end: 3;
            grid-template-columns: repeat(4, 1fr);
        }
        @media (max-width: 480px) {
            grid-template-columns: repeat(2, 1fr);
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 3;
        }
        
    }
    
    

    &__map{
        padding-top: 30px;
    }
}


.active{
    background: #1799F4;
}